# Covers JetBrains IDEs: IntelliJ

**.iml
**.idea/

# OSX gitignore
**.DS_Store

# Java projects

avrosation_trials/input
avrosation_trials/input/*
avrosation_trials/outfiles
avrosation_trials/outfiles/*
avrosation_trials/xml_input
avrosation_trials/xml_input/*

metaprocess_trials/hadoop_input
metaprocess_trials/hadoop_input/*
metaprocess_trials/output_files
metaprocess_trials/output_files/*

filter_trials/xml_input
filter_trials/xml_input/*
filter_trials/outFiles
filter_trials/outFiles/*

spark-filter_trials/input
spark-filter_trials/out
spark-filter_trials/outFiles

spark-metaprocess_trials/hadoop_input
spark-metaprocess_trials/hadoop_input/*
spark-metaprocess_trials/output_files
spark-metaprocess_trials/output_files/*

**.wordcount_base.properties

# avro 
*.avro.crc